---
layout: default
title: Prochains stages

---

<section class="bg-dark" id="gallery">
  <div class="container">
    <div class="row">
      <div class="row">
          <h1 class="page-header">Stage du 25-26 juin 2016</h1>
          <p>Stage en présence de Dai-Sifu Michael Schwarz, 8e grade maitre</p>
          <div class="col-md-6">
              <h2>Quand ?</h2>
              <ul class="list-group">
                <li class="list-group-item" style="background-color: #F05F40">
                  <h2>Le samedi 25 juin:</h2>
                  <p>Stage de Wing Tsun et passage de grade : <b>10 h 30</b> — <b>16 h 30</b></p>
                  <h2>Le dimanche 26 juin:</h2>
                  <p>Stage de Wing Tsun, classe technicien  : <b>10 h 00</b> — <b>13 h 00</b></p>
                  <p>Escrima (cours déplacé): <b>14 h 00</b> — <b>16 h 00</b></p></li>
              </ul>
          </div>
          <!-- /.col-md-6 -->
          <div class="col-md-6">
            <h2>Où ?</h2>
            <p style="margin-bottom: 0px">Institut Sainte-Marie Jambes</p>
            <p>Rue de l'Aurore 227, 5100 Jambes</p>
            <a class="btn btn-default popup-gmaps" href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2325.3851443603216!2d4.88926!3d50.458649!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c1990396174ebf%3A0xabbcb6a9ba052784!2sInstitut+Sainte+Marie+Jambes!5e1!3m2!1sfr!2sbe!4v1460290510882">Voir le plan</a>
            <h2>Remarques</h2>
            <p>N'oubliez pas votre équipement officiel.</p>
             <p>Inscription nécessaire auprès de Sifu avant le samedi 18 juin.</p>
          </div>
          <!-- /.col-md-6 -->
      <div class="col-lg-12">
        <h1 class="page-header">{{ page.title }}</h1>
          {% if page.date %}
            <p>{{ page.date }}</p>
          {% endif %}
      </div>
      <div>
        <table class="table">
			    <tr>
				    <th>Dates</th>
				    <th>Heures</th>
				    <th>Évènements</th>
				    <th>Notes</th>
				    <th>Lieux</th>
			    </tr>
	        {% assign curr_date = site.time %}
	        {% for event in site.posts reversed %}
		        {% if curr_date < event.date %}
  			      <tr>
  				      <td>{{ event.date | date_to_string }}</td>
  				      <td>{{ event.hours }}</td>
  				      <td>{{ event.title }}</td>
  				      <td>{{ event.note }}</td>
  				      <td>{{ event.place }}</td>
			        </tr>
		        {% endif %}
	        {% endfor %}
        </table>
      </div>
    </div>
  </div>
</section>
